<!-- prettier-ignore -->
<style>
  /* stylelint-disable */
  /*!
    FirstStrike.css 1.0.0 | MIT License | Copyright 2023 https://FirstStrike.dev
    Full explaination & credit at https://FirstStrike.dev/explaination
  */*,:after,:before{box-sizing:inherit}html{-webkit-text-size-adjust:none;box-sizing:border-box;color:#000;font-family:-apple-system,Segoe UI,system-ui,sans-serif;line-height:1.15;tab-size:4}body{margin:0}h1{font-size:2rem;margin:.67em 0}hr{background:#000;border:none;height:1px;margin:7.5px 0}code,kbd,pre,samp{font-family:ui-monospace,Menlo,Consolas,monospace;font-size:inherit}sub,sup{line-height:0;position:relative;vertical-align:initial}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:1em;line-height:1.5}[type=reset],[type=submit],button{cursor:pointer}::file-selector-button{appearance:button}:-moz-ui-invalid{box-shadow:none}
</style>
