# Should always be in .gitignore unless you know what you're doing
node_modules
.DS_Store

# Remove this line if you want keep the generated site in git
dist

# These files lock down the project's node dependencies
# You should remove whichever one you are using in your project
package-lock.json
yarn.lock
