<!DOCTYPE html>
<html lang="{{ lang or site.defaultlang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      {%- if title -%}
        {{ title }} - {{ site.title }}
      {%- else -%}
        {{ site.title }} - {{ site.subtitle }}
      {%- endif -%}
    </title>
    <meta
      name="description"
      content="{{ description or site.description }}"
    />
    <link rel="canonical" href="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{{ page.url | url }}{% endif %}" />
    {% if seo.hidden %}<meta name="robots" content="noindex nofollow" />{% endif %}

    <link rel="stylesheet" href="{{ '/tailwind.css' | url }}" />
    <link rel="stylesheet" href="{{ '/main.css' | url }}" />
    <link rel="stylesheet" href="{{ '/markdown.css' | url }}" />
    <link rel="stylesheet" href="{{ '/syntax.css' | url }}" />
  </head>
  <body class="text-gray-900">
    <div class="max-w-2xl mx-auto">
      <header class="text-center">
        <h1 class="mt-16 mb-2"><span class="px-3 py-1 font-mono text-3xl text-white bg-gray-800">{{ site.title }}</span></h1>
        <div class="mx-3 mt-3 mb-10 text-xl">{{ site.subtitle }}</div>
        <hr />
        <div class="my-3 text-xl">
          <a href="{{ '/' | url }}" class="mx-3 text-">Home</a>
          {% for link in site.nav_links -%}
            <a href="{{ link.url | url }}" class="mx-3 text-">{{ link.label }}</a>
          {%- endfor %}
        </div>
        <hr />
      </header>
      <main class="mt-4 mb-4">
        {{ content | safe }}
      </main>
      <hr />
      <footer class="mt-10 mb-16 text-center">
        &copy; {{ site.copyright_years }} {{ site.author.fullname }}
      </footer>
    </div>
  </body>
</html>
