---
layout: base.njk
---

<h1 class="my-8 font-semibold text-center text-4_5xl">Latest Posts</h1>
<ul class="pb-4 text-xl">
  {% for post in collections.post | reverse -%}
    <li class="my-2">
      <span class="font-mono text-2xl text-gray-500">
        {{ post.data.lang }} &zwnj;
      </span>
      <a href="{{ post.url | url }}" class="py-1 font-semibold">
        {{ post.data.title }}
      </a>
    </li>
  {%- endfor %}
</ul>
