---
layout: base.njk
lang: en
tags:
  - page
---

<div class="mb-10">
  <h1 class="text-4_5xl tracking-tight font-semibold text-center mt-8 mb-6">{{ title }}</h1>
  <div class="markdown">
    {{ content | safe }}
  </div>
</div>
