<!DOCTYPE html>
<html lang="{{ lang or site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      {%- if title -%}
      {{ title }} - {{ site.title }}
      {%- else -%}
      {{ site.title }} - {{ site.short_subtitle }}{%- endif -%}
    </title>
    <meta name="description" content="{{ description or site.description }}" />
    <link
      rel="canonical"
      href="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{{
        page.url | url
      }}{% endif %}"
    />
    {% if seo.hidden %}
    <meta name="robots" content="noindex nofollow" />

    {% endif %}{% include "./_partials/firststrike.html" %}
    <link
      rel="stylesheet"
      href="{{ '/_styles/main.scss' | revvedOutput | url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/_styles/syntax.scss' | revvedOutput | url }}"
    />
  </head>
  <body>
    {% include "./_partials/header.njk" %}
    <main class="layout-main">
      {{ content | safe }}
    </main>
    {% include "./_partials/footer.njk" %}
  </body>
</html>
