---
layout: base.njk
---

<h1>Articles</h1>
<ul>
  {% for post in collections.post | reverse -%}
  <li>
    <a href="{{ post.url | url }}">
      {{ post.data.title }}
    </a>
  </li>
  {%- endfor %}
</ul>
