/*
  Layout
  ----------------------------------------
  Site & page layouts. Used to hold modules together.
  http://smacss.com/book/type-layout
*/

@use './globals';

.layout-header {
  margin: 0 auto;
  max-width: 50rem;
}

.layout-main {
  margin: 0 auto;
  max-width: 50rem;
}

.layout-footer {
  margin: 2rem auto;
  max-width: 50rem;
  text-align: center;
}
