/*
  Utilities
  ----------------------------------------
  Mixins & one-off classes. Regularly reassess the code in here and
  consider if any of it would be better off as a part of a module/component.
  Avoid simply stuffing code in here because you're unsure where it should go.
*/

@mixin button {
  background-color: steelblue;
  cursor: pointer;
  padding: 1em;
  user-select: none;
}

// This will get removed by PurgeCSS
.unused {
  color: blue;
}
